<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forms | nLimit Solutions</title>
	<!-- FontAwesome font file css -->
	<link rel="stylesheet" type="text/css" href="../dist/vendor/font-awesome/css/font-awesome.min.css">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="../dist/assets/css/global.style.css">
	<!-- Template custom css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="../dist/assets/css/custom.style.css">
</head>
<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Template logo start -->
				<div class="nav-header">
					<a href="home.html"><img src="img/app-logo.png" width="160"></a>
				</div>
				<!-- Template logo end -->
				<!-- Menu navigation start -->
				<div class="nav-container">
					<ul class="main-menu">
						<li class="txt-center">
							<a href="./profile.tmp.html"><i class="fa fa-user fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Профил</span>
						</li>
						<li class="txt-center">
							<a href="./balance.tmp.html"><i class="fa fa-money fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Баланс</span>
						</li>
						<li class="txt-center">
							<a href="./help.tmp.html"><i class="fa fa-volume-control-phone fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Помощ</span>
						</li>
						<li class="txt-center">
							<a href="./information.tmp.html"><i class="fa fa-info-circle fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Информация за зоните</span>
						</li>
						<li class="txt-center">
							<a href="./settings.tmp.html"><i class="fa fa-cog fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Настройки</span>
						</li>
						<li class="txt-center">
							<a href="#" data-popup="noFooterPopup"><i class="fa fa-ellipsis-h fa-3x"></i></a>
							<span class="txt-white menu-icon-name">Още</span>
						</li>
					</ul>
				</div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">FORM CONTROLS</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<section class="container">
					<div class="form-divider"></div>
					<div class="form-label-divider"><span>FORM GROUP WITH ICON</span></div>
					<div class="form-divider"></div>

					<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-user"></i>
							<input type="text" name="aaa" class="form-element" placeholder="Username">
						</div>
						<div class="form-row no-padding error">
							<i class="fa fa-envelope"></i>
							<input type="email" name="aaa" class="form-element error" placeholder="Email">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-lock"></i>
							<input type="password" name="aaa" class="form-element" placeholder="Password">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-language"></i>
							<select class="form-element">
								<option value="">Gender</option>
								<option value="1">Male</option>
								<option value="2">Female</option>
							</select>
						</div>
					</div>

					<div class="form-divider"></div>
					<div class="form-label-divider"><span>ELEMENTS WITH ICON</span></div>
					<div class="form-divider"></div>

					<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-envelope"></i>
							<input type="text" name="aaa" class="form-element" placeholder="Input element">
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-address-book-o"></i>
							<textarea class="form-element" placeholder="Textarea"></textarea>
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-language"></i>
							<select class="form-element">
								<option value="" selected>Select</option>
								<option value="1">English</option>
								<option value="1">Spanish</option>
								<option value="1">Turkish</option>
							</select>
						</div>
					</div>

					<div class="form-divider"></div>
					<div class="form-label-divider"><span>FORM CONTROLS</span></div>
					<div class="form-divider"></div>

					<div class="form-row-group">
						<div class="form-row no-padding">
							<input type="text" name="aaa" class="form-element" placeholder="Input element">
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="form-row-group">
						<div class="form-row no-padding">
							<textarea class="form-element" placeholder="Textarea" rows="6"></textarea>
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="form-row-group">
						<div class="form-row no-padding">
							<select class="form-element">
								<option value="" selected>Select</option>
								<option value="1">English</option>
								<option value="1">Spanish</option>
								<option value="1">Turkish</option>
							</select>
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="form-row-group">
						<div class="form-row no-padding">
							<label class="form-element"><input type="radio" name="gender" /> Male</label>
							<label class="form-element"><input type="radio" name="gender" /> Female</label>
						</div>
					</div>

					<div class="form-mini-divider"></div>

					<div class="form-row-group">
						<div class="form-row no-padding">
							<label class="form-element"><input type="checkbox" name="lang" /> English</label>
							<label class="form-element"><input type="checkbox" name="lang" /> Spanish</label>
							<label class="form-element"><input type="checkbox" name="lang" /> Turkish</label>
							<label class="form-element"><input type="checkbox" name="lang" /> Russian</label>
						</div>
					</div>

					<div class="form-divider"></div>
					<div class="form-label-divider"><span>FORM GROUP</span></div>
					<div class="form-divider"></div>

					<div class="form-row-group">
						<div class="form-row no-padding">
							<input type="text" name="aaa" class="form-element" placeholder="Username">
						</div>
						<div class="form-row no-padding">
							<input type="email" name="aaa" class="form-element" placeholder="Email">
						</div>
						<div class="form-row no-padding">
							<input type="password" name="aaa" class="form-element" placeholder="Password">
						</div>
						<div class="form-row no-padding">
							<select class="form-element">
								<option value="" selected>Language</option>
								<option value="1">English</option>
								<option value="1">Spanish</option>
								<option value="1">Turkish</option>
							</select>
						</div>
					</div>

					<div class="form-divider"></div>

					<div class="form-row">
						<a href="#" class="button circle block green">Success</a>
					</div>

					<div class="form-row">
						<a href="#" class="button circle block red">Danger</a>
					</div>

					<div class="form-row">
						<a href="#" class="button circle block blue">Primary</a>
					</div>

					<div class="form-row">
						<a href="#" class="button circle block yellow">Warning</a>
					</div>

					<div class="form-row">
						<a href="#" class="button circle block default">Default</a>
					</div>

					<div class="form-divider"></div>
					<a href="#" class="button circle green">None Block</a>
					<a href="#" class="button red">Squared</a>
					<a href="#" class="button blue"><i class="fa fa-user"></i> Icon</a>
					<div class="form-divider"></div>
				</section>
			</main>
			<!-- Page content end -->
		</div>
	</div>

	<!--POPUP HTML CONTENT START -->
	<div class="popup-overlay" id="noFooterPopup"> <!-- if you dont want overlay add class .no-overlay -->
		<div class="popup-container">
			<div class="popup-header">
				<h3 class="popup-title txt-dark">Страници</h3>
				<span class="popup-close" data-dismiss="true"><i class="fa fa-times txt-dark"></i></span>
			</div>
			<div class="popup-content">
				<p><a href="auth/login.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">login.tmp.html</a></p>
				<p><a href="auth/registration.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">registration.tmp.html</a></p>
				<p><a href="auth/forgot-password.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">forgot-password.tmp.html</a></p>
				<hr>
				<p><a href="./alerts.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">alerts.tmp.html</a></p>
				<p><a href="./forms.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">forms.tmp.html</a></p>
				<p><a href="./tables.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">tables.tmp.html</a></p>
				<p><a href="./taxes.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">taxes.tmp.html</a></p>
				<p><a href="./terms.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">terms.tmp.html</a></p>
				<p><a href="./privacy.tmp.html" class="txt-dark txt-underline" title="Цъкни ме">privacy.tmp.html</a></p>
			</div>
		</div>
	</div>
	<!--POPUP HTML CONTENT END -->

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	<!-- Template global script file. requared all pages -->
	<script src="../dist/assets/js/global.script.js"></script>
</body>
</html>