<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Забравена парола | nLimit Solutions</title>
	<!-- FontAwesome font file css -->
	<link rel="stylesheet" type="text/css" href="../../dist/vendor/font-awesome/css/font-awesome.min.css">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="../../dist/assets/css/global.style.css">
	<!-- Template custom css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="../../dist/assets/css/custom.style.css">
</head>
<body>
	<div class="wrapper">
		<div class="wrapper-inline bg-dark">
			<!-- Header area start -->
			<header class="auth txt-center">
				<img src="../../dist/assets/img/nlimit-white-green.svg" alt="Logo" width="200px">
			</header>
			<!-- Header area end -->

			<!-- Page content start -->
			<main>
				<section class="container">
					<div class="form-divider"></div>
					<div class="form-divider"></div>
					<div class="form-divider"></div>
					<form action="">
						<div class="form-divider"></div>
						<div class="form-label txt-center txt-white"><strong>Забравена парола</strong></div>
						<div class="form-divider"></div>
						<div class="form-row-group with-icons">
							<div class="form-row no-padding">
								<i class="fa fa-envelope"></i>
								<input type="email" name="email" class="form-element" placeholder="Имейл адрес">
							</div>
						</div>
						<div class="form-divider"></div>
						<div class="form-row">
							<button class="button circle block btn-green">Изпрати ми парола</button>
						</div>
						<div class="form-divider"></div>
					</form>
					<div class="form-label txt-center">
						<a href="./login.tmp.html" class="txt-underline">Обратно към страница Вход</a>	
					</div>
					<div class="form-divider"></div>
				</section>
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	<!-- Template global script file. requared all pages -->
	<script src="../../dist/assets/js/global.script.js"></script>
</body>
</html>